PowerAutomate/Template_Insert_Metricas.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"timestamp":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"timestamp","type":"string","value":"@{utcNow()}"}]}},"fk_flujo":{"runAfter":{"timestamp":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fk_flujo","type":"string","value":"c14a9988-2f0b-4b46-bc8c-ada95ad5bf77"}]}},"fk_metrica":{"runAfter":{"fk_flujo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fk_metrica","type":"string","value":"c14a9988-2f0b-4b46-bc8c-ada95ad5bf77"}]}},"idEjecucion":{"runAfter":{"fk_metrica":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IdEjecucion","type":"integer","value":0}]}},"acumuladoMétrica":{"runAfter":{"idEjecucion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"acumuladoMetrica","type":"integer","value":0}]}},"pais":{"runAfter":{"acumuladoMétrica":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fk_pais","type":"string"}]}},"adjetivo1":{"runAfter":{"pais":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adj1","type":"string"}]}},"adjetivo2":{"runAfter":{"adjetivo1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adj2","type":"string"}]}},"adjetivo3":{"runAfter":{"adjetivo2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adj3","type":"string"}]}},"adjetivo4":{"runAfter":{"adjetivo3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adj4","type":"string"}]}},"notas":{"runAfter":{"adjetivo4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"notas","type":"string"}]}},"url_entorno":{"runAfter":{"notas":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"url_entorno","type":"string"}]}},"tokenAuth":{"runAfter":{"url_entorno":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tokenAuth","type":"string"}]}},"HTTP_POST":{"runAfter":{"tokenAuth":["Succeeded"]},"type":"Http","inputs":{"uri":"@variables('url_entorno')","method":"POST","headers":{"Content-Type":"application/json","charset":"utf-8","TokenAuth":"@{variables('tokenAuth')}"},"body":{"id_ejecucion":"@{variables('IdEjecucion')}","fk_flujo":"@{variables('fk_flujo')}","fk_metrica":"@{variables('fk_metrica')}","Adjetivo1":"@{variables('adj1')}","Adjetivo2":"@{variables('adj2')}","Adjetivo3":"@{variables('adj3')}","Adjetivo4":"@{variables('adj4')}","AcumuladoMetrica":"@{variables('acumuladoMetrica')}","FechaInicioEjecucion":"@{formatDateTime(variables('timestamp'),'yyyy/MM/dd HH:mm:ss')}","FechaFinEjecucion":"@{formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')}","fk_pais":"@{variables('fk_pais')}","NotaInterna":"@{variables('notas')}","timestamp":"@{formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')}"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"High"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-274ACAF728AE4C3C8012FAAE5FB13EE0"}},"integrationAccount":{"name":"9744600e3e04492ebaa125ec245c6f10-westeurope","id":"subscriptions/655be0f1-fb2c-4c5a-9fbf-ff414e1b901b/resourceGroups/9744600e3e04492ebaa125ec245c6f10-ia/providers/Microsoft.Logic/integrationAccounts/9744600e3e04492ebaa125ec245c6f10-westeurope","type":"Microsoft.Logic/integrationAccounts"}}}]}